
.body{
  min-height: 90.5vh;
  background-image: url("https://ck-uat.web.app/background.png");
  background-color: #201e2c;
  display: flex;
  flex-direction: column;
  //section 1
  .sec-1{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    .pd-30{
      padding: 30px;
    }
    .c1{
      display: flex;
      background-color:#373c47;
      flex-direction: column;
      position: relative;
      .title{
        font-size: 14px;
        height: 19px;
        text-align: left;
        color: white;
        letter-spacing: 2px;
        line-height: 1.36;
      }
      .content{
        font-size: 12px;
        line-height: 22px;
        color: #8392a7;
        text-align: left;
        margin-top: 8px;
        width: 100%;
      }
      .img-city{
        position: absolute;
        bottom: 0px;
        right: 30px;
      }
    }
    .c2{
      display: flex;
      flex-direction: column;
      .sec-top{
        display: flex;
        flex-direction: column;
        padding: 30px;
        .invest{
          width: 200px;
          height: 96px;
          font-size: 39px;
          font-weight: bold;
          line-height: 1.23;
          letter-spacing: 5.57px;
          text-align: left;
          color: white;
          display: flex;
          .text{
            display: flex;
            flex-direction: row;
            .icon{
              max-width: 150px;
              margin-left: 40px;
            }
          }
        }
        .sec-mid{
          .percent{
            display: flex;
            flex-direction: row;
            color: white;
            font-size: 36px;
            letter-spacing: 7.2px;
            text-align: left;
            margin-top: 40px;
            .number{
              color: #ff8f00;
            }
          }
          .daily{
            color: #8392a7;
            font-size: 14px;
            line-height: 19px;
            letter-spacing: 1.0px;
            text-align: left;
          }
        }
      }
      .sec-bot{
        background-color: #171620;
        padding: 30px;
        color: #768396;
        font-size: 12px;
        line-height: 22px;
        height: 100%;
        .fter{
          display: inline;
          // flex-direction: row;
          .wt{
            color: white;
          }
        }
      }
    }
    .c3{
      display: flex;
      background-color: #3b4859;
      flex-direction: column;
      .sec-top{
        display: flex;
        flex-direction: row;
        .percent{
          display: flex;
          flex-direction: row;
          color: white;
          font-size: 36px;
          letter-spacing: 7.2px;
          text-align: left;
          .number{
            color: #ff8f00;
          }
        }
      }
      .sec-mid{
        color: #8392a7;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 1.0px;
        text-align: left;
      }
      .sec-bot{
        font-size: 12px;
        line-height: 22px;
        color: #8392a7;
        text-align: left;
        margin-top: 27px;
        max-width: 420px;
        .level{
          display: inline;
          b{
            color: #ff8f00;
          }
        }
      }
    }
  }
  @media screen and (max-width:1260px) {
    .sec-1{
      grid-template-columns: 50% 50%;
      .c2{
        
      }
      .c3{
        grid-column-start: 1;
        grid-column-end: 3;
        .sec-bot{
          max-width: 100%;
        }
      }
    }
  }


  //section 2 -----------------------------------------------------------------------
  .sec-2{
    display: flex;
    flex-direction: row;
    .c1{
      flex-grow: 3;
      padding: 30px;
      background-color: #201e2c;
      min-height: 38vh;
      width: 25%;
      position: relative;
      .sec-top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 14px;
        line-height: 1.36;
        letter-spacing: 1px;
        text-align: left;
        color: white;
        img{
          margin-left: 30px;
          cursor: pointer;
          max-width: 120px;
        }
      }
      .slide{
        position: relative;
        animation: to-slide 1s;
        @keyframes to-slide {
          from {
            left: 200px;
            opacity: 0;
          }
          to {
            left: 0px;
            opacity: 1;
          }
        }
        .sec-mid{
          margin-top: 30px;
          img{
            max-width: 120px;
          }
        } 
        .sec-bot{
          margin-top: 30px;
          height: 20px;
          display: flex;
          color: #8392a7;
          font-size: 12px;
          line-height: 22px;
        }
      }
    }
    .c2{
      flex-grow: 3;
      background-color: white;
      width: 25%;
      .section{
        padding: 30px;
        color: #3b4859;
        line-height: 30px;
        letter-spacing: 1.0px;
        font-size: 14px;
      }
      .num{
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 1.0px;
      }
      .blue{
        color: #3b7cff;
      }
      .green{
        color: #7ed321;
      }
      .orange{
        color: #ff8f00;
      }
      .sec-mid{
        background-color: #f9fafc;
      }
      .sec-bot{
        background-color: #eff2f7;
      }
    }
    .c3{
      flex-grow: 3;
      padding: 30px;
      background-color: #39579a;
      width: 25%;
      .section{
        color: white;
        line-height: 30px;
        letter-spacing: 1.0px;
        font-size: 14px;
      }
      .content{
        font-size: 12px;
        line-height: 22px;
        color: #eff2f7;
      }
    }
    .c4{
      max-width: 25%;
      background-color: #f9fafc;
      display: grid;
      grid-template-rows: auto 65% 50px;
      .mt-30{
        margin-top: 30px;
      }
      .sec-mid{
        padding: 30px;
        .text{
          font-size: 12px;
          color: #3b4859;
        }
        .icon-m{
          height: 22px;
          width: 22px;
        }
        .icon-l{
          height: 32px;
          width: 32px;
        }
        .ml-10{
          margin-left: 10px;
        }
        .ml-30{
          margin-left: 30px;
        }
        .uline{
          text-decoration: underline;
        }
        .line{
          display: flex;
          flex-direction: row;
          align-items: center;
        }
        .row-btn{
          display: flex;
          flex-direction: row;
          align-items: center;
        }
      }
      .sec-bot{
        background-color: #171620;
        display: flex;
        flex-direction: row;
        padding-left: 30px;
        padding-top: 18px;
        padding-bottom: 18px;
        justify-content: space-around;
        .ml-50{
          margin-left: 50px;
        }
        .ml-30{
          margin-left: 30px;
        }
        .text{
          color: #8392a7;
          font-size: 12px;
        }
        .icon{
          height: 18px;
          margin-left: 10px;
        }
        .list-icon{
          align-items: center;
        }
      }
    }
  }
  @media screen and (max-width: 1260px) {
    .sec-2{
      display: grid;
      grid-template-columns: 50% 50%;
      .c1{
        width: 100%;
      }
      .c2{
        width: 100%;
      }
      .c3{
        width: 100%;
      }
      .c4{
        width: 100%;
        max-width: 100%;
      }
    }
  }
}

